@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  .certificate-print-area, .certificate-print-area * {
    visibility: visible;
  }
  .certificate-print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    box-shadow: none !important;
    border-width: 6px !important;
  }
}
